.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










nav {
  border-bottom: lightgray 1px solid;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.promotion {
  width: 70%;
}

.section {
  display: flex;
}

.child {
  float: left;
  text-align: justify;
}

.logo-container {
  width: 100%;
}

.logo1 {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.w30 {
  width: 30%;
}

.w70 {
  width: 70%;
}

.black-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.header {
  font-size: 48px;
  font-weight: 400;
}

.header-small {
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-color: red;
}





.menu-container {
  width: 100%;
  display: flex;
}

.menu-item-container {
  flex-grow: 1;
}

.menu-item-container a {
  width: 60%;
  text-decoration: none;
  color: lightsalmon;
}

.menu-item-container a:hover {
  color: cornsilk;
}

.menu-item {
  height: 120px;
  width: 160px;
  padding: 20px;
  background-color:cornsilk;
  border-radius: 10px;
  margin: auto
}

.menu-item:hover {
  background-color: lightsalmon;
}

.menu-item i {
  font-size: 64px;
}

.shopping-group-container {
  display: block;
}

.shopping-group {
  display: flex;
}

.order-btn {
  border-top-left-radius: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
}

.order-btn div {
  position: absolute;
  bottom: 30%;
  right: 15%;
  color: white;
  font-weight: 900;
}

.order-modal {
  width: 70%;
  max-width: 70%;
}

table {
  width: 100%;
}

th, td {
  border: solid 1px;
  border-collapse: collapse;
}

.img-column {
  width: 20%;
}

.record-img {
  width: 100%;
  aspect-ratio: 1;
}

input {
  border: none;
  outline: none;
  width: 100%;
}