.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










nav {
  border-bottom: lightgray 1px solid;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.promotion {
  width: 100%;
}

.section {
  display: flex;
}

.child {
  float: left;
  text-align: justify;
}

.logo-container {
  width: 100%;
}

.logo1 {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.w30 {
  width: 30%;
}

.w70 {
  width: 70%;
}

.black-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.header {
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: red;
}

.header-small {
  
}




.menu-container a {
  float: left;
  text-decoration: none;
  color: lightsalmon
}

.menu-container a:hover {
  color: cornsilk;
}

.menu-item {
  height: 120px;
  width: 160px;
  padding: 20px;
  background-color:cornsilk;
  border-radius: 10px;
  margin: 20px;
}

.menu-item:hover {
  background-color: lightsalmon;
}

.menu-item i {
  font-size: 64px;
}